<%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>

<%= form_with(model: review, url: [@movie, review], local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :rating %>
    <%#= form.number_field :rating %>
    <div id="star-rating"></div>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<!-- this script calls raty function from raty.js file on div with id star-rating 
This file doesn't have readOnly so that we can change our rating also--> 
<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating'
  });
</script>